<h2>Želite da prisustvujete?</h2>
<p>Događaj je besplatan i otvoren za sve, ali prijava je obavezna. Svako od učesnika dobija nalepnicu sa svojim imenom koja podstiče umrežavanje.</p>
Prijavi dolazak ovde: <a href="http://www.meetup.com/HeapSpace/events/<%=@item[:event_meetup]%>/" data-event="<%=@item[:event_meetup]%>" class="mu-rsvp-btn invisible"></a>
<p>Kako je interesovanje veliko, molimo sve koji se prijave a nisu u mogućnosti da dođu da se odjave sa istog linka, kako bi ljudi sa waiting liste mogli da prisustvuju.</p>
