<div class="prijin">
<img src="/images/ppl2.jpg">

<h2>Dolazite?</h2>
<p>Događaj je besplatan i otvoren za sve, ali je prijava <b>obavezna</b>.</p>

<p class="mu"><a href="http://www.meetup.com/HeapSpace/events/<%=@item[:event_meetup]%>/" data-event="<%=@item[:event_meetup]%>" class="mu-rsvp-btn invisible"></a></p>

<p class="wrn">Kako je interesovanje veliko, molimo sve koji se prijave, a nisu u mogućnosti da dođu,
da se odjave sa istog linka, kako bi ostali sa liste čekanja mogli da prisustvuju.</p>
</div>