<div class="event_box">
	<% if (@item[:event_venue] != nil && @item[:view_map] == true) %>
<div id="map_canvas" class="map"
	data-map-name="<%= venue_name(@item) %>"
	<%= venue_map_position(@item) %> ></div>
	<% end %>
	<div class="venue1">
	<% if (@item[:event_at] != nil) %><%=event_datum(@item)%><% end %> | <% if (@item[:event_start] != nil) %><%= @item[:event_start] %> - <%= @item[:event_end] %><% end %>
	</div>
	<div class="venue2">
	<%= venue_name(@item) %> | <%= venue_address(@item) %>
	</div>
	<div class="icalfile"></div>
	<% if (@item[:event_meetup] != nil) %>
	<div class="venue3">
		<a href="http://www.meetup.com/HeapSpace/events/<%= @item[:event_meetup] %>/" class="button fit special" target="_blank">meetup</a>
	</div>
	<% end %>
	<%	if @item[:event] != nil && @item[:event_start] != nil
			timestring = @item[:event].to_s + ' ' + @item[:event_start].to_s
			targetdate = Time.parse(timestring).to_i
	%>
	<script type="text/javascript">
	$(function () {
		var today = ((new Date().getTime())/1000)+(60*60);
		var targetdate = '<%= targetdate %>';
		if (targetdate > today) {
			$('.icalfile').html('<a href="./index.ics"><i class="fa fa-calendar"></i> iCal</a>');
		}
	});
	</script>
	<% end %>
</div>
