<% if (@item[:event_venue] != nil) %>
<div class="event_box">
	<% if (@item[:view_map] != nil && @item[:view_map] == true) %>
<div id="map_canvas" class="map"
	data-map-name="<%= venue_name(@item) %>"
	<%= venue_map_position(@item) %> ></div>
	<% end %>
	<div class="venue1">
	<% if (@item[:event_at] != nil) %><%=event_datum(@item)%><% end %> | <% if (@item[:event_time] != nil) %><%= @item[:event_time] %><% end %>
	</div>
	<div class="venue2">
	<%= venue_name(@item) %> | <%= venue_address(@item) %>
	</div>
	<% if (@item[:event_meetup] != nil) %>
	<div class="venue3">
		<a href="http://www.meetup.com/HeapSpace/events/<%= @item[:event_meetup] %>/" class="button fit special" target="_blank">meetup</a>
	</div>
	<% end %>
</div>
<% end %>
