<ul class="events <%= evclass if defined?(evclass) %>">
<% get_events(@time, @kind, @limitnumber).each { |itid| it = @items[itid] %>
	<li>
		<a href="<%=relative_path_to(it)%>" title="<%=h(it[:title])%>">
			<% if it[:event_at] != nil %>
			<div class="date <%=h(it[:kind])%>">
				<div class="day"><%=it[:event_at].day%></div>
				<div class="month"><%=rsmonth(it[:event_at].month)%></div>
			</div>
			<% end %>

			<div class="when-where">
				<h4 class="title"><%=kind_icon(it[:kind])%> <%=h(it[:title])%></h4>
				<div class="time"><%=it[:event_start]%>-<%=it[:event_end]%></div>
				<% if it[:event_venue] != nil %>
				<div>@<%= venue_name(it) %></div>
				<address><i class="fa fa-map-marker"></i> <%= venue_address(it) %></address>
				<% end %>
			</div>
		</a>
	</li>
	<%	if it[:event] != nil && it[:event_start] != nil
			timestring = it[:event].to_s + ' ' + it[:event_start].to_s
			targetdate = Time.parse(timestring).to_i
	%>
	<script type="text/javascript">
	$(function () {
		var today = ((new Date().getTime())/1000)+(60*60);
		var targetdate = '<%= targetdate %>';
		if (targetdate > today) {
			$('.events_inverse .date.<%=h(it[:kind])%>').append('<a class="icalboxed" href="<%=relative_path_to(it)%>index.ics" download="<%=h(it[:title])%>.ics"><i class="fa fa-calendar fa-2x"></i><br />iCal</a>');
		}
	});
	</script>
	<% end %>
<% } %>
</ul>
