<%
nextevent = get_next_event()
if (nextevent != nil && !nextevent[:event].to_s.empty?)
	timestring = nextevent[:event].to_s + ' ' + nextevent[:event_start].to_s
	targetdate = Time.parse(timestring).to_i
%>
<div class="flipcount hide">
	<div class="flipwrap" data-link="<%=relative_path_to(nextevent)%>">
		<div class="flipevent">
			<%= nextevent[:title] %>
		</div>
		<div class="clock"></div>
	</div>
</div>
<script type="text/javascript">
$(function () {
	var today = ((new Date().getTime())/1000)+(60*60*2);
	var oneday = ((new Date().getTime())/1000)+(60*60)+(60*60*24);
	var sevendays = ((new Date().getTime())/1000)+(60*60)+(7*60*60*24);
	var targetdate = '<%= targetdate %>';
	if ((targetdate > today) && (targetdate < sevendays)) {
		$('.clock').FlipClock((targetdate - today), {
			clockFace: 'DailyCounter',
			countdown: true
		});
		$('.flipcount').show();
	} else {
		$('.flipcount').hide();
	}
});
</script>
<%
end
%>
