<%
nextevent = get_next_event()
timestring = nextevent[:event].to_s + ' ' + nextevent[:event_start].to_s
diff = Time.parse(timestring).to_i - Time.now.to_i
if nextevent[:event] != nil
%>
<div class="flipcount">
	<div class="flipwrap" data-link="<%=relative_path_to(nextevent)%>">
		<div class="flipevent">
			<%= nextevent[:title] %>
		</div>
		<div class="clock"></div>
	</div>
</div>
<script type="text/javascript">
$(function () {
	$('.clock').FlipClock('<%= diff %>', {
		clockFace: 'DailyCounter',
		countdown: true
	})
});
</script>
<% end %>
