<%
nextevent = get_next_event()
if nextevent[:event] != nil
%>
<div class="flipcount">
	<div class="flipwrap" data-link="<%=relative_path_to(nextevent)%>">
		<div class="flipevent">
			<%= nextevent[:title] %>
		</div>
		<div class="clock"></div>
	</div>
</div>
<script type="text/javascript">
$(function () {
	var today = new Date().getTime();
	var targetdate = new Date('<%= nextevent[:event] %> <%= nextevent[:event_start] %>').getTime();
	$('.clock').FlipClock((targetdate - today)/1000, {
		clockFace: 'DailyCounter',
		countdown: true
	})
});
</script>
<% end %>
